releaseops-yk.duckdns.org {
    encode zstd gzip

    redir /grafana /grafana/

    handle /grafana/* {
        reverse_proxy grafana:3000
    }

    handle {
        reverse_proxy frontend:80
    }
}
