releaseops-yk.duckdns.org {
	encode zstd gzip

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}

	redir /grafana /grafana/

	handle /grafana/* {
		reverse_proxy grafana:3000
	}

	handle {
		reverse_proxy frontend:80
	}
}
